{% extends "::base.html.twig" %}

{% block title %}ShoppingListBundle:shoppinglist{% endblock %}

{% block body %}
    <a href="index.html.twig">Powrót do strony głównej</a>
<a href="individual_allergens_list.html.twig">Stwórz listę alergenów</a>
{% endblock %}