{% extends "::base.html.twig" %}

{% block title %}ShoppingListBundle:products:showAll{% endblock %}

{% block body %}
    <a href="index.html.twig">Powrót do strony głównej</a>
<h1>Dostępne produkty</h1>
    <div>
        <a href="add_new.html.twig">Dodaj nowy produkt do bazy</a>
    </div>
    <div>
        <a href="remove_product.html.twig">Usuń produkt z bazy</a>
    </div>

{% endblock %}
