{% extends "::base.html.twig" %}

{% block title %}ShoppingListBundle:categories:showAllCategories{% endblock %}

{% block body %}
    <a href="index.html.twig">Przejdź do strony głównej</a>
<h1>lista kategorii</h1>
    <div>
        <a href="add_category.html.twig">Dodaj kategorię do bazy</a>
    </div>
    <div>
        <a href="remove_category.html.twig">Usuń kategorię</a>
    </div>
{% endblock %}
