{% block title %}ListaZakupowBundle:Allergens:addAllergen{% endblock %}

{% block body %}
    <div>
        <a href=""><img src="{{ asset('bundles/shoppinglist/images/shoppinglist.jpg') }}"width="590" height="300" title="Stwórz nową listę zakupów"></a>
    </div>
    <div>
        <a href="showallcategories"><img src="{{ asset('bundles/shoppinglist/images/listaKategorii.png') }} "width="590" height="300" title="Przejdź do listy kategorii"></a>
    </div>
    <div>
        <a href="showallallergens"><img src="{{ asset('bundles/shoppinglist/images/alergeny.jpg') }}" width="590" height="300" title="Przejdź do listy alergenów"></a>
    </div>
    <div>
        <a href="showall"><img src="{{ asset('bundles/shoppinglist/images/produkty.jpg') }}" width="590" height="300"  title="Lista produktów"></a>
    </div>

{% endblock %}