{% block title %}ListaZakupowBundle:Allergens:addAllergen{% endblock %}

{% block body %}
    <h1>Strona główna</h1>
    <div>
        <a href="shoppinglist.html.twig">Stwórz nową listę zakupów</a>
    </div>
    <div>
        <a href="show_all_categories.html.twig">Przejdź do listy kategorii</a>
    </div>
    <div>
        <a href="show_all_allergens.html.twig">Przejdź do listy alergenów</a>
    </div>
    <div>
        <a href="show_all.html.twig">Lista produktów</a>
    </div>

{% endblock %}