{% extends "::base.html.twig" %}

{% block title %}ShoppingListBundle:allergens:showAllAllergens{% endblock %}

{% block body %}
<a href="index.html.twig">Powrót do strony głównej</a>
<h1>Lista allergenów</h1>
    <div>
        <a href="add_allergen.html.twig">Dodaj nowy alergen do bazy</a>
    </div>
    <div>
        <a href="remove_allergen.html.twig">Usuń alergen z bazy</a>
    </div>
{% endblock %}
